.weather-container {
  flex: 1;
  display: flex;
}

.weather-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  padding-top: 8px;
}

.weather-message {
  font-size: initial;
  height: 3em;
  text-align: center;
}

.weather-sidecontainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-sidecontainer > tbody > tr > td {
  padding-left: 8px;
  text-align: right;
}

.weather-sidecontainer > tbody > tr > th {
  padding-left: 8px;
}
