.weather-container {
  flex-grow: 1;
  display: flex;
}

.weather-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.weather-sidecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-sidecontainer > tbody > tr > td,
.weather-sidecontainer > tbody > tr > th {
  padding-left: 16px;
}
