.main-container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: black;
  color: white;
  user-select: none;

  display: flex;
  flex-direction: column;

  /* for simulating actual screen size. TODO: remove */
  max-width: 373px;
  max-height: 249px;
  overflow: hidden;
}

.status-bar {
  /* 8px compensation for .content-container curved top border */
  height: 56px; /* 56px = 48px + 8px */
  padding-bottom: 8px;
  margin: 0 0 -8px;

  position: relative; /* for z-index to work between this and content-container */
  z-index: 0;

  display: flex;
  align-items: stretch;
}

.status-bar > div {
  border-radius: 8px;

  /* to center contents */
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar > .left {
  box-shadow: 2px 0 0 1px;
  margin-bottom: 2px;
}

.status-bar > .center {
  flex-grow: 2;
}

.status-bar > .right {
  box-shadow: -2px 0 0 1px;
  margin-bottom: 2px;
}

.content-container {
  flex-grow: 1;

  position: relative; /* for z-index to work between this and status-bar */
  z-index: 1;

  /* For curved top border */
  border-radius: 8px 8px 0 0; /* 8px = border radius */
  box-shadow: 0 0 0 2px; /* 2px = border thickness */
  overflow: hidden; /* to keep content from spilling outside curved border */

  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;

  padding: 4px 19px 4px;
  /* 4px = 8px / 2 (other half applied in .app-button) */
  /* 19px = 4px + 15px (compensation for bootstrap .row) */

  display: flex;
  flex-direction: column;
}

.icon-button {
  /* to center contents */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-button,
.icon-button.md-dark:active {
  background: black;
  color: rgba(255, 255, 255, 1); /* taken from md-icons .md-light */
}

.icon-button.md-dark,
.icon-button:active {
  background: white;
  color: rgba(0, 0, 0, 0.54); /* taken from md-icons .md-dark */
}

.status-bar > .icon-button.left:active {
  background: linear-gradient(to right, black, white);
  color: rgba(255, 255, 255, 1);
}
