/* Rules for sizing the icon. */
/* Adapted to work with mdi-icons as well */
.material-icons.md-18,
.mdi.md-18::before {
  font-size: 18px;
  line-height: 18px;
}

.material-icons.md-24,
.mdi.md-24::before {
  font-size: 24px;
  line-height: 24px;
}

.material-icons.md-36,
.mdi.md-36::before {
  font-size: 36px;
  line-height: 36px;
}

.material-icons.md-48,
.mdi.md-48::before {
  font-size: 48px;
  line-height: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
